/* hide multiline line number */
.katex .tag {
    display: none;
}

#note-navbar {
    margin: 20px 0px;
    justify-content: space-between;
    display: flex;
}

.footnotes ol {
    font-size: calc(var(--font-size) - 3px);
}
